<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AsyncMLEngine{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional: Include project-specific CSS -->
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    const wsStart = window.location.protocol === "https:" ? "wss://" : "ws://";
    const endpoint = wsStart + window.location.host + "/ws/login/";
    const socket = new WebSocket(endpoint);

    socket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log("Message:", data.message);
        const message = data.message;
        // const notificationBanner = document.getElementById('notification-banner');

        // notificationBanner.innerText = message; // Set the message text
        // notificationBanner.style.display = 'block'; // Show the banner

        // // alert('{{ message }}');
        // // Optionally hide the banner after a few seconds
        // setTimeout(() => {
        //     notificationBanner.style.display = 'none';
        // }, 5000);
        displayAlert(message);
    }

    socket.onopen = function (e) {
        console.log("WebSocket open");
        socket.send(JSON.stringify({ 'message': 'Hello, server!' }));
    }

    socket.onerror = function (e) {
        console.error("WebSocket error:", e);
    }

    socket.onclose = function (e) {
        console.error("WebSocket closed unexpectedly");
    }

    function displayAlert(message) {
        const alertContainer = document.getElementById('alert-container');
        const alertDiv = document.createElement('div');
        alertDiv.className = 'alert alert-success alert-dismissible fade show';
        alertDiv.role = 'alert';
        alertDiv.innerHTML = message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';

        alertContainer.appendChild(alertDiv);

        setTimeout(() => {
            $(alertDiv).alert('close');
        }, 5000); // Auto close the alert after 5 seconds
    }
</script>

<body>
    <header>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">AsyncMLEngine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link"
                                style="display: inline; ">Logout ({{ request.user.first_name|default:request.user.username }})</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Notification banner -->
    <!-- <div id="notification-banner" class="alert alert-warning alert-dismissible fade show" role="alert">
        <span id="notification-message"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->

    <div id="alert-container" style="position: fixed; top: 20px; right: 20px; width: 300px; z-index: 9999;">
        <!-- Alerts will be added here -->
    </div>

    <main role="main" class="container">
        <!-- Main content block where child templates will insert content -->
        {% block content %}
        {% endblock content %}
    </main>
    
    <br>

    <footer class="footer bg-dark text-white text-center py-3">
        <div class="container">
            © 2024 - AsyncMLEngine
        </div>
    </footer>

    <!-- Bootstrap and jQuery libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>

</html>